#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    width: 15em;
}

#search {
    display: flex;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 34px;
    border-radius: 20px;
}

#topbar a {
    display: block;
    text-align: right;
    color: rgb(4, 6, 31);
    padding: 4px 4px;
    text-decoration: khaki;
}

#topbar li {
    float: right;
}

#topbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
}

#midbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#midbar a {
    color: rgba(29, 28, 28, 0.7);
    text-decoration: khaki;
}

#leftbot {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1em;
}

#leftbot a {
    color: rgba(29, 28, 28, 0.7);
    text-decoration: khaki;
    margin: 0.5em;
}

#rightbot {
    list-style-type: none;
    text-decoration: khaki;
    text-align: right;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
}

#rightbot li {
    padding: 5px;
    float: right;
    background-color: lightgray;
}

#rightbot a {
    color: rgba(26, 26, 26, 0.3);
    text-decoration: khaki;
}

#apps {
    width: 2em;
}

footer {
    position: fixed;
    padding: 0em 0em 1em 0em;
    background-color: lightgray;
    left: 0;
    bottom: 0;
    border-color: black;
}

footer ul {
    list-style-type: none;
    background-color: lightgray;
    overflow: hidden;
}

footer li {
    float: left;
    left: 0;
}

footer li a {
    display: block;
    text-align: center;
}

#say {
    text-decoration: none;
    background-color: #333;
}

#say a {
    display: block;
    float: left;
    margin: 0.5em;
    text-decoration: khaki;
    color: black;
}

#say {
    list-style-type: none;
}